<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    He also said some things African American-y wasn't ready to hear. I could use a leather jacket for when I'm on my hog and have to go into a controlled slide. Up yours, granny! You couldn't handle it! Bob Loblaw Lobs Law Bomb. I will be a bigger and hairier mole than the one on your inner left thigh! I shall hide behind the couch. (Guy's a pro.)

Never once touched my per diem. I'd go to Craft Service, get some raw veggies, bacon, Cup-A-Soup…baby, I got a stew goin'. Never once touched my per diem. I'd go to Craft Service, get some raw veggies, bacon, Cup-A-Soup…baby, I got a stew goin'. You want to have some guy reach around you in the middle of the night, start messing with your junk? No, I was ashamed to be SEEN with you. I like being WITH you. It's one banana Michael, what could it cost, ten dollars? So you take your mom to work every day? Bummer. Moms are such a pain in the ass, huh? It's, like, die already! I'm sure, wherever your father is, she loves you very much. Oh please. They didn't sneak into this country to be your friends.

I've got a nice hard cot with his name on it. You'd do that to your own brother? I said "cot." One of the guys told me to take my head out of my BOTTOM and get back to work…my BOTTOM! Hahahaha. Nellie is blowing them all AWAY. I'm a scholar. I enjoy scholarly pursuits. Suddenly playing with yourself is a scholarly pursuit? You don't want a hungry dove down your pants. Everybody dance NOW. Waiting for the Emmys. BTW did you know won 6 Emmys and was still canceled early by Fox? COME ON.

He… she… what's the difference? Oh hear, hear. In the dark, it all looks the same. Early. I've always been deeply passionate about nature. Perhaps you remember Neuterfest? M: I'll never forget your wedding.

♪♪ It's The Final Countdown ♪♪ Ohhh little guy. The tears aren't coming. The tears just aren't coming. It's as Ann as the nose on Plain's face.

No borders, no limits… go ahead, touch the Cornballer… you know best? I call it Tricks –- wait for it – Around The Office. I prematurely shot my wad on what was supposed to be a dry run, so now I'm afraid I have something of a mess on my hands. I know what an erection feels like, Michael.

I don't want no part of yo tight-ass country club, ya freak bitch! Yeah, like anyone would want to R her. The CIA should've just Googled for his hideout, evidently. Are all the guys in here… you know? George Sr.: No, not all of them. Barry: Yeah. It's never the ones you hope.

Douche chill! This objectification of women has to stop. It's just Mom and whores. But where did the lighter fluid come from? They want to break his legs. It's a good thing he's already got that little scooter. I don't want no part of yo tight-ass country-club, ya freak bitch! No, no, it's pronounced a-nal-ra-pist. It wasn't really the pronunciation that bothered me. You can always tell a Milford man. I'M A MONSTER!!

It's sort of like going from prime rib to… I don't know… weird brother of prime rib. If mother sees this, she will blow a cow. She keeps saying that God is going to show me a sign. The… something of my ways. Boy, I sure feel like a Mary without a Peter and a Paul. The only thing I found in the fridge was a dead dove in a bag. Gob: You didn't eat that, did you? ♪♪ It ain't easy being white. It ain't easy being brown. ♪♪ You go buy a tape recorder and record yourself for a whole day. I think you'll be surprised at some of your phrasing.

And the soup of the day is bread. With spicy club sauce. Popcorn shrimp… with club sauce. Wow. We're just blowing through nap time, aren't we? I'M A MONSTER!! When a man needs to prove to a woman that he's actually… When a man loves a woman…
  </body>
</html>
