<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
Surround yourself with angels. Surround yourself with angels, positive energy, beautiful people, beautiful souls, clean heart, angel. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears, and I’m never giving up, I’m just getting started. The ladies always say Khaled you smell good, I use no cologne. Cocoa butter is the key. Surround yourself with angels, positive energy, beautiful people, beautiful souls, clean heart, angel. Don’t ever play yourself. Don’t ever play yourself.
  </body>
</html>
